@use "../../_common/animation";
@use "../../variables";

.post-header {
  .post-title {
    margin: 0 0 10px;
    line-height: 1.4;
    font-size: variables.$post-title-font-size;
    font-weight: variables.$post-title-font-weight;
    font-family: variables.$global-font-family;
  }

  .post-link {
    @include animation.underline-from-center;
  }

}

.post-time {
    color: variables.$post-time-font-color;
    display: block;
    font-size: 14px;
    margin-bottom: 10px;
 }

 .post-excerpt {
     p {
         margin: 0 0 16px;
     }
 }
