@use "../variables";

// ==============================
// Post footer
// =============================

.footer {
  margin-top: variables.$footer-margin-top;
}

#colophon {
	width: 90%;
	margin: 30px auto 0;
	padding: 20px 0;
	border-top: 1px solid #e1e1e1;
    color: variables.$dark-gray;
	font-size: 14px;
    max-width: variables.$global-body-width;
	display: block;
    overflow: hidden;
    a {
        color: variables.$dark-gray;
    }

    .footer-author{
        margin: 0 4px;
    }
}
