@use "../_common/utils";
@use "../variables";

// ==============================
// Pagination
// ==============================

.pagination {
  padding-bottom: variables.$pagination-padding;
  @include utils.clearfix;

  .prev,
  .next {
    font-weight: 400;
    font-size: variables.$pagination-font-size;
    font-family: variables.$global-font-family;
    transition-property: transform;
    transition-timing-function: ease-out;
    transition-duration: 0.3s;
  }

  .prev {
    float: left;

    &:hover {
      color: variables.$theme-color;
      transform: translateX(-4px);
    }
  }

  .next {
    float: right;

    &:hover {
      color: variables.$theme-color;
      transform: translateX(4px);
    }
  }
}
