@use "sass:meta";
@use "../variables";

// ==============================
// Post
// ==============================

.posts {
  margin-bottom: variables.$post-list-margin-bottom;
  border-bottom: variables.$post-border;
}

.post {
  padding: variables.$post-padding;

  & + .post {
    border-top: variables.$post-border;
  }

  .post-excerpt {
      img {
          padding-top: .5em;
      }
  }

  @include meta.load-css('_post/header');
  @include meta.load-css('_post/content');
  @include meta.load-css('_post/footer');
}
